Repository ufs-community/regional_workflow, pull requests merged in 2020-07, with the labels that each got.

#246 Allow external model files to be staged in a user-specified directory.
  jobs/JREGIONAL_GET_EXTRN_MDL_FILES
  jobs/JREGIONAL_MAKE_ICS
  jobs/JREGIONAL_MAKE_LBCS
  scripts/exregional_get_extrn_mdl_files.sh
  scripts/exregional_make_ics.sh
  scripts/exregional_make_lbcs.sh
  tests/baseline_configs/config.user_staged_extrn_files.sh
  tests/baselines_list.txt
  ush/config_defaults.sh
  ush/get_extrn_mdl_file_dir_info.sh
  ush/set_extrn_mdl_params.sh
  ush/setup.sh
Labels: Needs Cheyenne test, Needs Jet test, Needs WCOSS test

#245 Enable ensemble forecasts
  jobs/JREGIONAL_GET_EXTRN_MDL_FILES
  jobs/JREGIONAL_MAKE_ICS
  jobs/JREGIONAL_MAKE_LBCS
  jobs/JREGIONAL_RUN_FCST
  jobs/JREGIONAL_RUN_POST
  modulefiles/tasks/wcoss_cray/run_fcst.local
  modulefiles/tasks/wcoss_dell_p3/run_fcst.local
  scripts/exregional_make_grid.sh
  scripts/exregional_make_ics.sh
  scripts/exregional_make_lbcs.sh
  scripts/exregional_run_fcst.sh
  scripts/exregional_run_post.sh
  tests/baseline_configs/config.community_ensemble_008mems.sh
  tests/baseline_configs/config.community_ensemble_2mems.sh
  tests/baseline_configs/config.nco_ensemble.sh
  tests/baselines_list.txt
  ush/config_defaults.sh
  ush/create_diag_table_files.sh
  ush/create_model_config_files.sh
  ush/generate_FV3SAR_wflow.sh
  ush/set_FV3nml_sfc_climo_filenames.sh
  ush/set_FV3nml_stoch_params.sh
  ush/set_cycle_dates.sh
  ush/setup.sh
  ush/templates/FV3.input.yml
  ush/templates/FV3SAR_wflow.xml
  ush/valid_param_vals.sh
Labels: Needs Cheyenne test, Needs WCOSS test

#253 Features/jet partitions
  scripts/exregional_run_fcst.sh
  tests/baseline_configs/config.new_JPgrid.sh
  ush/create_model_config_file.sh
  ush/generate_FV3SAR_wflow.sh
  ush/set_predef_grid_params.sh
  ush/templates/FV3SAR_wflow.xml
  ush/templates/model_configure
  ush/templates/model_configure.FV3_CPT_v0
  ush/templates/model_configure.FV3_GFS_2017_gfdlmp
  ush/templates/model_configure.FV3_GFS_2017_gfdlmp_regional
  ush/templates/model_configure.FV3_GFS_v15p2
  ush/templates/model_configure.FV3_GFS_v16beta
  ush/templates/model_configure.FV3_GSD_SAR
  ush/templates/model_configure.FV3_GSD_SAR_v1
  ush/templates/model_configure.FV3_GSD_v0
  ush/templates/model_configure.FV3_RRFS_v0
Labels: help wanted
